@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --color-primary: #111f51;
    --color-secondary: #19ceda;
    
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

i {
  margin-right: .5em;
}

a {
  text-decoration: none;
}

